/*
Colors:
Orange : #ff9700;
Red :#cc6600;
Green : #9b9900;
Brown :#333300;
Blue: #660066;
;

*/

body 
{
  background: #ff9700; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ff9700 , #cc6600); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ff9700 , #cc6600); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Droid Serif', serif;
  color: #878787;
  margin: 0;
}

footer
{
  font-family: 'Droid Serif', serif;
  color: #660066;
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  text-align: center;
  width:100%;
}

footer li
{
  display:inline-block;
}

.clear
{
  clear:both;
}
.company-name
{
  font-size: 80px;
}

.container
{
  color:#660066;
  width:80%;
  margin: 0 auto;
  height:100%;
}

.button {
    background-color: #660066; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.schedule
{
  width:80%;
  margin: 5px 0;
  cursor: pointer;
}

.left
{
  clear:both;
  float: left;
}

.right
{
  float:right;
}

.logo
{
  width:40%;
}

.logo img
{
  max-width:100%;
}

.jumbotron
{
  width:60%;
}
.jumbotron h1
{
  font-size:90px;
  margin-bottom:10px;
}

.jumbotron p
{
  margin: -20px 0 20px 0;
  font-size: 20px;
  font-weight: 400;
}

.small
{
  font-size:10px;
}

.jumbotron li
{
  display:inline-block;
  font-size: 15px;
}

.jumbotron ul
{
  margin-top: 0;
  padding:0;
}

.appointments
{
  display:none;
}

a
{
  text-decoration: none;
}
section
{
  clear:both;
}